<meta http-equiv="Content-Type" content="text/html; charset=<%= charset %>" />
<title>
  <%= h @page_title %>
  <% if options.title && @page_title != options.title %>
    &mdash; <%= h options.title %>
  <% end %>
</title>
<link href="https://cdn.auth0.com/styleguide/latest/index.css" rel="stylesheet" />
<link href="https://cdn.auth0.com/web-header/latest/standalone.css" rel="stylesheet"/>
<script type="text/javascript" src="https://cdn.auth0.com/web-header/latest/standalone.min.js"></script>
<% stylesheets.each do |stylesheet| %>
  <link rel="stylesheet" href="<%= url_for(stylesheet) %>" type="text/css" charset="utf-8" />
<% end %>
<%= erb :script_setup %>
<% javascripts.each do |javascript| %>
  <script type="text/javascript" charset="utf-8" src="<%= url_for(javascript) %>"></script>
<% end %>
