<!DOCTYPE html>
<html>
<head>
  <title>RubyOnRailsWebapp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :cdn_code %>
  <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag '//use.typekit.net/iws6ohy.js' %>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
